body {
	&.id--7 {
		.sidebar {
			display: none;
		}

		#content {
			width: 100%;
			max-width: 820px;
			margin-left: auto;
			margin-right: auto;
			height: fit-content;
			border-radius: 8px;

			.content-inner {
				width: 100%;
				max-width: 530px;
				margin-left: auto;
				margin-right: auto;

				> h1 {
					text-align: center;
					margin-top: 0;
					letter-spacing: 0;
				}

				form {
					.btn {
						&.btn-primary {
							background: $c-base;
							color: $c-white;
							border-color: $c-base;
							display: block;
							text-align: center;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
